/*---------------------------------------------------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  8
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
Build  : 8-340defec456f
Exec   : postProcess -latestTime -func sample
Date   : Mar 13 2021
Time   : 19:36:00
Host   : "wbc-System-Product-Name"
PID    : 38995
I/O    : uncollated
Case   : /home/wbc/Desktop/sky_cooling/buoyantCavity
nProcs : 1
sigFpe : Enabling floating point exception trapping (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster (fileModificationSkew 10)
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 100

Reading set description:
    y0.1
    y0.2
    y0.3
    y0.4
    y0.5
    y0.6
    y0.7
    y0.8
    y0.9

Time = 100

Reading fields:
    volScalarFields: T
    volVectorFields: U



Executing functionObjects

End

